.navbar-frame{
    background-color: #55543a40;
    padding: 10px;
  }
  
  .navbar-brand,
  .nav-link {
    color: #ffffff !important;
  }
  
  .navbar-brand:hover,
  .nav-link:hover {
    color: #d3d3d3 !important;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  